<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="node_modules/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
            padding-right: 0;
        }
    </style>
</head>

<body>
    <div id="app">
       
        <v-app id="inspire" blue>
            <v-navigation-drawer clipped fixed v-model="drawer" app>
                <v-list dense>
                    <template v-if="account==null">
                        <v-list-tile @click="router.push({ name: 'signin' })">
                            <v-list-tile-action>
                                <v-icon>settings</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>Sign In</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile @click="router.push({ name: 'signup' })">
                            <v-list-tile-action>
                                <v-icon>settings</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>Sign Up</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>

                    <template v-if="account!=null && account.type==='Farm'">
                            

                        <v-list-tile @click="router.push({ name: 'farm-address-list' })" >
                            <v-list-tile-action>
                                <v-icon>settings</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>Farm</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile @click="router.push({ name: 'farm-operator-list' })" >
                                <v-list-tile-action>
                                    <v-icon>settings</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Operator</v-list-tile-title>
                                </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile @click="router.push({ name: 'farm-farming-list' })" >
                                <v-list-tile-action>
                                    <v-icon>settings</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Farming</v-list-tile-title>
                                </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile @click="" >
                                <v-list-tile-action>
                                    <v-icon>settings</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Food</v-list-tile-title>
                                </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile @click="" >
                                <v-list-tile-action>
                                    <v-icon>settings</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Harvest</v-list-tile-title>
                                </v-list-tile-content>
                        </v-list-tile>

                    </template>
                    <template v-if="account!=null && account.type==='Packing'">

                            <v-list-tile @click="">
                                    <v-list-tile-action>
                                        <v-icon>settings</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>Operator</v-list-tile-title>
                                    </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile @click="">
                                    <v-list-tile-action>
                                        <v-icon>settings</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>Packing</v-list-tile-title>
                                    </v-list-tile-content>
                            </v-list-tile>
                    </template>
                    <template v-if="account!=null && account.type==='Logistics'">

                            <v-list-tile @click="">
                                    <v-list-tile-action>
                                        <v-icon>settings</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>Operator</v-list-tile-title>
                                    </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile @click="">
                                    <v-list-tile-action>
                                        <v-icon>settings</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>Transport</v-list-tile-title>
                                    </v-list-tile-content>
                            </v-list-tile>
                    </template>
                    <template v-if="account!=null && account.type==='Retailer'">
                            
                            <v-list-tile @click="">
                                    <v-list-tile-action>
                                        <v-icon>settings</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>Operator</v-list-tile-title>
                                    </v-list-tile-content>
                            </v-list-tile>

                    </template>
                    <template v-if="account!=null">
                        <v-list-tile @click="">
                                <v-list-tile-action>
                                    <v-icon>settings</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Request Approval</v-list-tile-title>
                                </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile @click="store.commit('signout')" >
                                <v-list-tile-action>
                                    <v-icon>settings</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Sign out</v-list-tile-title>
                                </v-list-tile-content>
                        </v-list-tile>
                    </template>
                </v-list>
            </v-navigation-drawer>
            <v-toolbar app fixed clipped-left>
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-toolbar-title>Food Track By Blockchain</v-toolbar-title>
            </v-toolbar>
            <v-content>
                <v-container fluid >
                    <router-view></router-view>
                </v-container>
            </v-content>
            <v-footer app fixed>
                <span>&copy; 2017</span>
            </v-footer>
        </v-app>


    </div>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/vuex/dist/vuex.min.js"></script>
    <script src="node_modules/axios/dist/axios.min.js"></script>
    <script src="node_modules/vue-router/dist/vue-router.min.js"></script>
    <script src="node_modules/babel-standalone/babel.min.js"></script>

    <script src="node_modules/vuetify/dist/vuetify.js"></script>

    <script type="text/babel" src="js/db.js"></script>
    <script type="text/babel" src="js/store.js"></script>
    <script type="text/babel" src="js/comp/admin.js"></script>
    <script type="text/babel" src="js/comp/signup.js"></script>
    <script type="text/babel" src="js/comp/signin.js"></script>
    <script type="text/babel" src="js/comp/account.js"></script>
    <script type="text/babel" src="js/comp/farm_operator_add.js"></script>
    <script type="text/babel" src="js/comp/farm_operator_list.js"></script>
    <script type="text/babel" src="js/comp/farm_address_list.js"></script>
    <script type="text/babel" src="js/comp/farm_address_add.js"></script>
    <script type="text/babel" src="js/comp/farm_farming_list.js"></script>
    <script type="text/babel" src="js/comp/farm_farming_add.js"></script>
    <script type="text/babel" src="js/rountes.js"></script>
    <script type="text/babel">
        


            const router = new VueRouter({
                routes: routes
            })
            const vm = new Vue({
                el: '#app',
                router: router,
                store:store,
                data: () => ({
                    drawer: null
                }),
                props: {
                    source: String
                },
                mounted: function () {
                    // router.push({ name: 'account' })
    


                },
                computed:{
                    account(){
                        return this.$store.state.account;
                    }
                }
            })
        


    </script>

</body>

</html>